.box {
  @apply min-h-screen bg-marathon-black border-r-[1px] border-r-[#32343f] flex-shrink-0;
}

.innerBox {
  &:not(.minimized) {
    @apply px-6 py-9;
  }

  &.minimized {
    @apply px-2;
  }
}

.stickyBox {
  @apply sticky top-10 z-[100] bg-marathon-black pb-5;
}

.logoBox {
  &.minimized {
    @apply pl-4 gap-2 flex-wrap;
  }
}

.toggle {
  @apply text-white focus:outline-none;
}

.avatarBox {
  @apply relative mt-8;
}

.avatarBorders {
  @apply absolute left-[calc(50%-83px)] top-[calc(50%-90px)];

  & > svg[data-role='hexagon-backdrop-rotate'] {
    @apply absolute -left-1 top-0 rotate-90;
  }

  & > svg:nth-child(3) {
    @apply absolute top-[calc(50%-64px)] left-[calc(50%-55px)] z-50;
  }
}

.avatar {
  @apply mx-auto relative bg-white w-[140px] h-[160px];

  clip-path: url('#avatar-hexagon-mask');
  transform: translateZ(0);

  & > img {
    @apply object-cover;
  }
}

.miniAvatar {
  clip-path: url('#avatar-mini-hexagon-mask');

  & > img {
    @apply object-cover;
  }
}

.divider {
  @apply h-[2px] my-5 w-[90%] mx-auto bg-[#1d1e2b];
}

.meta {
  &.hide {
    @apply hidden;
  }
}

.username {
  @apply text-white text-center text-xl font-medium whitespace-nowrap;
}

.specialty {
  @apply text-[#B3B3BD] text-[0.75rem] text-center whitespace-nowrap;
}

.menu {
  &:not(.minimized) {
    @apply mt-5;
  }
}
