.box {
  @apply flex relative w-full px-5 mb-7 last:mb-0 gap-3;
}

.avatar {
  @apply mt-[10px] sticky top-[10px] w-10 h-10 min-w-[40px] min-h-[40px];
}

.message {
  @apply relative bg-[#01020a] w-full px-5 py-3 rounded-marathon-10 border-[1px] border-neutral-900/70;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -16px;
    top: 22px;
    border: 8px solid transparent;
    border-right: 8px solid #01020a;
    width: 0;
    height: 0;
    filter: drop-shadow(-1px 0px 0px rgb(23 23 23 / 1));
  }
}

.username {
  @apply text-white mb-1 font-medium text-sm;
}

.text {
  @apply text-neutral-400 text-sm leading-5;
}

.timestamp {
  @apply text-[#414857] text-xs;
}
